body, .container, .info, h1 {
    display: flex;
    justify-content: center;
}

html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

body, .user-form input[type="text"] {
    background-color: #202124;
}

.user-form input[type="text"], .card, a, h2, h1, #repo, .repo {
    color: #fff;
}

h1 {
    margin: 10rem 0rem 0rem 0.3rem;
}

#github {
    margin: 0rem;
    text-align: center;
}

a, #repo, .repo {
    text-decoration: none;
}

.user-form, .card {
    border: 0.3rem solid #46494d;
}

.user-form {
    margin-top: 2rem;
    padding: 0.6rem;
    border-radius: 4rem;
}

.user-form input[type="text"] {
    width: 15.6rem;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
}

.user-form input[type="text"]:focus {
    outline: none;
}

.card {
    margin-top: 3rem;
    max-width: 60vw;
    padding: 1.6rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 8rem;
    border: 0.4rem solid #46494d;
    border-radius: 50%;
}

.avatar, .repo {
    transition: 0.4s;
}

.info {
    margin-top: 1rem;
    padding: 0;
}

.info li {
    display: inline-block;
    margin-right: 2rem;
}

#repo {
    overflow: hidden;
    margin-top: 1.5rem;
}

.repo {
    float: left;
    margin: 0.4rem;
    padding: 0.6rem;
    background-color: #303134;
    border-radius: 1rem;
}

img:hover, .repo:hover {
    scale: 1.1;
    filter: brightness(1.3);
}